#top {
  background-color:red;
  color:white;
  font-size:20px;

}

.block {
  background-color:gold;
  width:50%;
  text-align:center;
}

.block h2 {
  font-size:15px;
  font-weight:bold;
  border-bottom:1px solid #000; 
  width:50%;
}




