body{
  width:100%;                     
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PM    incho", serif;
 background-color:#F7F6F4;  
}

#wrapper{
  width:100%;
  height:100%;
}

h2 h3{
  font-size:2vw;
  font-weight:bold;
}
p{
  font-size:1.5vw;
}

header{
  width:100%;
}
header #header__screen{
  width:100%;
  height:65vw;
}
header #header__screen #header__image{
  width:100%;
  height:100%;
  background-image:url("susi10.jpg");
  background-size:cover;
  background-position:center center;
}
.header__bar{
  width:100%;
  height:10vw;
  display:flex;
  justify-content:space-between;
}
.hidden__menu{
  display:none;
  visibility:hidden;
}
.header__bar .header__bar__left{
  width:30%;
}
.header__bar .header__bar__left h1{
  font-size:3vw;
  padding:2vw 0vw 0vw 3vw;
  color:#fff;
}
.header__bar .header__bar__right{
  width:70%;
}
.header__bar .header__bar__right ul{
  display:flex;
  justify-content:space-around;
  padding-top:2vw;
 }
.header__bar .header__bar__right ul .top__name{
  margin-left:-2vw;
 }

.header__bar .header__bar__right ul li{
  font-size:1.2vw;
  color:#fff;
}
.header__bar .header__bar__right .hidden__menu{
  display:none;
  visibility:hidden;
}

#header__screen .header__title{
  text-align:center;
  margin-top:9vw;
}
#header__screen .header__title h1{
  font-size:4vw;
  color:#e8e5e1;
}

#main{
  width:100%;
}
#main #about__menu{
  height:60vw;
  display:flex;
  justify-content:space-between;
}

#main #about__menu .about__menu__left{
  width:50%;
  height:100%;
  text-align:center;
}
#main #about__menu .about__menu__left h2{
  margin-top:10vw;
}
#main #about__menu .about__menu__left h3{
  margin-top:5vw;
  font-size:2.5vw;
  font-weight:bold;
}
#main #about__menu .about__menu__left p{
  width:5vw;
  border-bottom:2px solid #bbb;
  margin:10vw 0vw 0vw 22.5vw;
}
#main #about__menu .about__menu__right{
  width:50%;
  height:100%;
  margin-top:10vw;
}
#main #about__menu .about__menu__right h3{
  margin-top:7vw;
  font-size:2vw;
  font-weight:bold;
}

#main #about__menu .about__menu__right p{
  line-height:1.2em;
  margin-top:5vw;
}
#main #about__menu .about__menu__right .about__btn{
  width:15vw;
  height:5vw;
  background-color:#000;
  color:#fff;
  font-size:2vw;
  margin:5vw 0vw 0vw 22vw;
  display:flex;
  justify-content:center;
  align-items:center;
}

#main__menu{
  width:100%;
  height:100vw; 
  display:flex;
  flex-direction:column;
}
#main__menu .main__menu__top{
  width:100%;
  height:40vw;
}

#main__menu .main__menu__top .main__menu__image img{
  width:100%;
  height:40vw;
}
.main__menu__text{
  margin-top:5vw;
  display:flex;
  justify-content:space-between;
}

.main__menu__text .main__menu__left{
  width:50%;
  height:100%;
  text-align:center;
}

.main__menu__text .main__menu__left h2{
  margin-top:5vw;
}
.main__menu__text .main__menu__left h3{
  margin-top:5vw;
  font-weight:bold;
  font-size:2vw;
  margin-top:3vw;
}
.main__menu__text .main__menu__right{
  width:50%;
  height:100%;
  text-align:center;
}

.main__menu__text .main__menu__right h3{
  margin-top:10vw;
  font-weight:bold;
  font-size:2vw;
}

.main__menu__text .main__menu__right p{
  margin-top:5vw;
  line-height:1.2em;
}
.main__menu__text .main__menu__right .about__btn{
  width:15vw;
  height:5vw;
  background-color:#000;
  color:#fff;
  font-size:2vw;
  margin:5vw 0vw 0vw 22vw;
  display:flex;
  justify-content:center;
  align-items:center;
}

#susi__menu{
  width:90%;
  height:70vw;
  margin:auto;
  text-align:center;
}
#susi__menu h1{
  font-size:3vw;
  font-weight:bold;
  margin-bottom:2vw;
}
#susi__menu .main__susi__menu{
  width:100%;
  height:60vw;
  background-image:url("back.jpg");
}

#susi__menu .main__susi__menu ul{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

#susi__menu .main__susi__menu ul li{
  width:20vw;
  height:25vw;
  margin-bottom:2vw;
  margin:2vw 1vw 2vw 1vw;
}

#susi__menu .main__susi__menu ul li p{
  margin-top:2vw;
}
#susi__menu .main__susi__menu ul li img{
  width:20vw;
  height:20vw;
}

#main__sousaku__menu{
  width:90%;
  height:50vw;
  margin:auto;
  text-align:center;
}
#main__sousaku__menu h1{
  font-size:3vw;
  font-weight:bold;
  margin-bottom:2vw;
}
#main__sousaku__menu .sousaku__menu{
  width:100%;
  height:40vw;
  background-image:url("back.jpg");
}

.sousaku__menu ul{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.sousaku__menu ul li{
  width:20vw;
  height:25vw;
  margin-bottom:2vw;
  margin:2vw 1vw 2vw 1vw;
}

.sousaku__menu ul li p{
  margin-top:2vw;
}
.sousaku__menu ul li img{
  width:20vw;
  height:20vw;
}
.sousaku__menu .sousaku__btn{
  width:15vw;
  height:5vw;
  background-color:#000;
  color:#fff;
  font-size:2vw;
  margin:5vw 0vw 0vw 67vw;
  display:flex;
  justify-content:center;
  align-items:center;
}

.main__sopu__menu{
  width:90%;
  height:30vw;
  margin:auto;
  text-align:center;
}
.main__sopu__menu h1{
  font-size:3vw;
  font-weight:bold;
  margin-bottom:2vw;
}
.main__sopu__menu .sopu__menu{
  width:100%;
  height:30vw;
  background-image:url("back.jpg");
}

.sopu__menu ul{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.sopu__menu ul li{
  width:20vw;
  height:25vw;
  margin-bottom:2vw;
  margin:2vw 1vw 2vw 1vw;
}

.sopu__menu ul li p{
  margin-top:2vw;
}
.sopu__menu ul li img{
  width:20vw;
  height:20vw;
}
footer{
  width:100%;
  height:35vw;
}
footer #footer__fild{
  width:100%;
  height:100%;
  position:relative;
}
footer #footer__fild .footer__image{
  width:40vw;
  height:25vw;
  background-image:url("susichi7.jpg");
  background-size:cover;
  background-position:center center;
  position:absolute;
  top:8vw;
  left:60vw;
}
footer #footer__fild .footer__top{
  margin-top:15vw;
  width:100%;
  height:5vw;
  background-color:#6b4102;
}
footer #footer__fild .footer__bottom{
  width:100%;
  height:33vw;
  background-color:#000;
}    
footer #footer__fild .footer__bottom .footer__kuuhaku{
  width:100%;
  height:14vw;
}
footer #footer__fild .footer__bottom .footer__text{
  width:60vw;
  height:20vw;
  position:absolute;
  top:10vw;
  left:20vw;
}

footer #footer__fild .footer__bottom .footer__text p{
  font-size:2vw;
  color:#fff;
  padding-top:5vw;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu M    incho", "MS PMin    cho", serif;
}
 
footer #footer__fild .footer__bottom #footer__bar {
  width:60%;
  margin-top:15vw;
}
footer #footer__fild .footer__bottom #footer__bar ul{
  display:flex;                                  
  justify-content:space-around;
}
footer #footer__fild .footer__bottom #footer__bar ul li{
  color:#fff;
  font-size:1vw;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu M    incho", "MS PMin    cho", serif;
}
footer #footer__fild .footer__bottom #footer__bar ul .store__name{
  font-weight:bold;
  font-size:2vw;
  margin-right:3vw;
 }

@media only screen and (max-width:500px){
  
body{
  width:100%;
  height:100%;
}

header{
  height:60vh;
}
#header__screen{
  height:55vh !important;
  position:relative;
}
.header__bar__right ul{
  opacity:0;
  visibility:hidden;
}
.hidden__menu{
  display:block;
  visibility:visible;
  color:#fff;
  font-size:3vw;
  width:20vw;
  margin:2vw 1vw 2vw 1vw;
}
.hidden__menu  #menu__lists{
  opacity:0;
  visibility:hidden;
  position:absolute;
  top:0vw;
  left:0vw;
  font-size:3vw;
  line-height:4em;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#000;
  color:#fff;
  width:100vw;
  height:100%;
}

.hidden__menu  #menu__lists #close__btn{
  color:#fff;
  font-size:1.5vw;
  position:absolute;
  top:0vw;
  left:80vw;
}
.hidden__menu #menu__lists.active{
  opacity:1;
  visibility:visible;
  animation:listAnimation 0.5s
}
@keyframes listAnimation{
  0%{
      opacity:1;
      transform:translateY(-50px);
    }
}

#about__menu{
  height:50vh !important;
  flex-direction:column;
  text-align:center;
  margin-bottom:5vw;

}

#about__menu .about__menu__left{
  width:100% !important; 
}

#about__menu .about__menu__left p{
  width:10vw !important;
  margin:10vw 0vw 0vw 45vw !important;
}
#about__menu .about__menu__right{
  width:100% !important; 
  margin-bottom:5vw;
}

#about__menu .about__menu__right h3{
  margin-bottom:15vw;
}
#about__menu .about__menu__right p{
  line-height:2.5em !important;
  
}
#about__menu .about__btn{
  width:20vw !important;
  height:7vw !important;
  margin:17vw 0vw 0vw 65vw !important;
}
#main__menu{
  height:50vh !important;
  margin-top:25vw;
}
#main__menu .main__menu__image img{
  height:60vw !important;
}

#main__menu .main__menu__text{
  margin-top:30vw !important;
  flex-direction:column;
}

#main__menu .main__menu__text .main__menu__left{
  width:100%;
}

#main__menu .main__menu__text .main__menu__left h2{
  margin-top:10vw;
}
#main__menu .main__menu__text .main__menu__right{
  width:100%;
  margin-top:5vw;
}
#main__menu .main__menu__text .main__menu__right p{
  margin-top:10vw;
  line-height:2.5em;
}
#main__menu .main__menu__text .main__menu__right .about__btn{
  width:25vw;
  height:7vw;
  margin:20vw 0vw 0vw 60vw !important;
}
#susi__menu{
  margin-top:90vw;
  height:100vw;
}
#susi__menu .main__susi__menu{
  height:80vw;
  margin-top:5vw;
}

#susi__menu .main__susi__menu ul li{
  margin:8vw 1vw 2vw 1vw;
} 

#footer__bar{
  width:100% !important;
}

#footer__bar ul li{
  font-size:1vw;
}
}


