/*
* Themes Name : Sushiichi
*/

body{
  width:100%;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  background-color:#F7F6F4;
}

h2 h3 p{                                  
  letter-spacing:2px;
   font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMin    cho", serif;
}
 
 h1 h2 h3 {
   font-weight:bold;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMin    cho", serif;
}
#wrapper{
  overflow:hidden;
}

#header__screen{
  width:100%;
  height:65vw;
}
#header__screen #header__image{
  width:100%;
  height:100%;
  background-image:url("../images/susi12.jpg");
  background-size:cover;
  background-position:center center;
}
#header__screen .header__bar{
  width:100%;
  height:10vw;
  display:flex;
  justify-content:space-between;
}

#header__screen .header__bar .header__bar__left {
  width:30%;
}
#header__screen .header__bar .header__bar__left h1{
  font-size:3vw;
  padding:2vw 0vw 0vw 3vw;
  color:#fff;
}

#blog__top .blog__title{
  font-size:30px;
  text-align:center;
}

#blog__top .blog__text__area{
  width:80%;
  height:50vh;
  margin:auto;
}
