#wrapper{
background-size:cover;
background-position:center center;
width:100%;
height: 100vh;
animation: screenAnimation 10s infinite;
    }
@keyframes screenAnimation{
	0%{
background-image:url("kv03.jpg");
	}
20%{
background-image:url("kv01.jpg");
    }
40%{
background-image:url("kv04.jpg");
    }
60%{
background-image:url("kv02.jpg");
    }
100%{
background-image:url("kv01.jpg");	
    }
    }
header{
width:100%;
height:100vh;
display:flex;
justify-content:center;
    }
#wrapper .center__screen{
text-align:center;
margin-top:150px;
width:350px;
height:492px;
border: 10px solid white;
z-index:2;
    }
#wrapper img{
margin-top: 50px;
margin-bottom:10px;
width:70px;
height:55px;
    }

.center__screen p{
 font-size: 18px;
 color:#fff;
 font-family:serif;
     }
.caption__title{
  font-family: serif;
  font-size: 60px;
  margin-top:30px;
  margin-bottom:33px;
  line-height: 0.8;
  letter-spacing: 2px;
  color: #fff;
    }
 .caption__text{
   font-family:serif;
   font-size: 18px;
   color:#fff;
   margin: 20px 0px;
     }
 .caption__text2{
 color:#fff;
 font-size: 10px;
 }
 #logos{
 height:162px;
 display:flex;
 text-align:center;
 justify-content:center;
 align-items:center;
 background-color:#fff;
     }
 #logos img{
 position:absolute;
 width:83px;
 height:120px;
     }
.second__page{
width:100%;
height:100vh;
background-color:black;
    }    
 nav{
 position:relative;
 width:100%;
 height:80px;
 background-color: #fff;
 border-bottom:1px solid #eee;
     }
nav ul{
display:flex;
justify-content:center;
border-top: 2px solid #eee;
border-bottom: 2px solid #eee;
     }
nav ul li{
 margin:20px;
 text-align:center;
 letter-spacing: 1px;
font-size:13px;
    }
nav ul li:hover{
color:orange;
    }

.second__page__screen{
display:flex;
justify-content:space-between;
    }
.lelt__screen{
margin-left:100px;
margin-top:20px;
background-color:black;
width:50%;
    }

.left__screen p{
font-size: 16px;
font-family:cursive;
margin:0px 20px 20px 100px;
text-align:center;
letter-spacing:2px;
line-height:2em;
color: #ccc;
    }
.screen__title{
margin: 150px 150px 50px 250px;
font-size:60px;
font-family:serif;
color:#fff;
    }
.right__screen{
width:50%;
height:49vw;
background-image:url("withyou_img01.jpg");
background-size:cover;
background-position:center center;
    }
.submit__btn{
margin: 10px 0px 0px 280px;
width: 150px;
height:50px;
background-color:#e48217;
color:#fff;
padding: 18px 44px;
letter-spacing: 1px;
font-size: 14px;
    }
.submit__btn:hover{
opacity:0.8;
    }
.selection{
height:100vh;
width: 100%;
text-align:center;
}
.selwction__content{
margin: 40px 0px 30px 0px;
    }
.border{
border-bottom:3px solid #eee;
width: 100px;
margin:0 auto;
    }
.selection__content h2{
margin:80px 0px 10px 0px;
font-size: 40px;
font-family: serif;
letter-spacing:1px;
    }
.selection__content h3{
font-size:16px;
color:#303030;
letter-spacing:1px;
font-style:normal;
margin:20px 0px 60px 0px; 
    }
.selection__screen{
position:relative;
background-image:url("main-middle.jpg");
background-position:center center;
width: 1250px;
height: 650px;
margin:0 auto;
position:relative;
    }
.selection__screen:hover{
opacity:0.8;
    }
.selection__box{
position:absolute;
top: 40%;
right:40%;
width: 200px;
height: 180px;
background-color: #e48217;
z-index: 2;
    }
.selection__box .selection__box__text{
margin-top:60px;
    }
.selection__box .selection__box__text h3{
font-size: 15px;
color: #fff;
    }
.selection__box .selection__box__text h2{
font-family:serif;
font-size: 30px;
color:#fff;
margin-bottom:20px;
    }
.subscreen{
width:100%;
height:100vh;
display:flex;
flex-direction:column;
}
.subscreen .contents__title{
text-align:center;
    }
.subscreen .contents__title h1{
margin:130px 0px 20px 0px;
font-size:30px;
font-family:serif;
letter-spacing:2px;
    }
.subscreen .contents__title .border{
width:55px;
color:#eee;
    }
.subscreen .contents__title .name__ja{
font-size:20px;
color:#000;
margin:20px 0px 40px 0px;
}

.subscreen .contents__image__list{
width:100%;
height:50vh;
    }
.contents__image__list ul{
display:flex;
justify-content:center;
    }
 
.contents__image__list ul li{
margin:20px;
    }

.contents__image__list li .c__1{
width:255px;
height:255px;
position:relative;
background-image:url("withyou_img01.jpg");
background-size:cover;
background-position:center center;

}
.contents__image__list li .c__2{
width:255px;
height:255px;
position:relative;
background-image:url("box2.jpg");
background-size:cover;
background-position:center center;
}
.contents__image__list li .c__3{
width:255px;
height:255px;
position:relative;
background-image:url("box3.jpg");
background-size:cover;
background-position:center center;
}
.contents__image__list li .c__4{
width:255px;
height:255px;
position:relative;
background-image:url("box4.jpg");
background-size:cover;
background-position:center center;
}

.contents__image__list li h3{
 border:4px solid #000;
 padding:8px;
 background-color:#fff;
 font-weight:bold;
 font-size:12px;
 position:absolute;
 top:50%;
 right:30%;
    }
.contents__image__list li h3:hover{
background-color:orange;
    }
.under__image__content{
margin:0 auto;
width:1150px;
height:230px;
background-image:url("bed2.jpg");
background-size:cover;
background-position:center center;
    }
.under__image__content:hover{
opacity:0.8;
    }

#footer{
margin-top:100px;
width:100%;
height:30vh;
}
#footer .footer__bar{
width:100%;
height:65px;
margin-bottom:70px;
border-top:2px solid #eee;
border-bottom:2px solid #eee;
}

#footer .footer__bar ul{
display:flex;
justify-content:center;
}

#footer .footer__bar ul li{
margin:20px 0px 20px 20px;
font-size:15px;
color:#000;
}

#footer .footer__bar ul li:hover{
border-bottom: 2px solid orange;
}
.footer__contents{
height:10vh;
display:flex;
flex-direction:column;
    }
.footer__contents .footer__logo{
 margin-top:75px;
 }

img{
width:200px;
height:18px;
letter-spacing:1px;
}

.footer__text {
 color:#aaa;
 font-size:15px;
 padding-top:40px;
    }
.footer__fblogo{
margin:40px 0px;
    }
.footer__fblogo img{
width:40px;
height:40px;
    }
.footer__fblogo__good img{
width:120px;
height:25px;
    }

/***レスポンシブ***/

@media screen and (max-width:500px) {
#wrapper .center__screen{
border:none;
    }
#logos{
display:none;
    }
nav{
display:none;
    }
.second__page{
height:50vh;
    }
.second__page__screen{
flex-direction:column;
    }
.left__screen{
width:100%;
height:50vh;
    }
.left__screen .screen__title{
margin:40px 40%  20px 30%;
    }
.left__screen .submit__btn{
margin: 10px 40% 10px 40%;
    }
.right__screen{
display:none;
    }
.screen__title {
width:30%;
font-size:20px;
text-align:center;
    }


.left__screen .style__english{
 margin-bottom:10px;
}
.left__screen p{
font-size:8px;
margin-left:0px;
    }
.left__screen .submit__btn{
text-align:center;
padding:10px;
font-size:10px;
width:70px;
height:30px;
    }
.selection .selection__content{
height:20vh;
width:100%;
    }

.selection .selection__content h2{
 font-size:20px;
 margin: 70px 0px 30px 0px;
    }

.selection__screen {
 width:100%;
 height:400px;
    }
.selection__screen .selection__box{
width:120px;
height:115px;
margin:0 auto;
    }


.selection__screen .selection__box__text h2{
  margin-top:0px;
 font-size: 30px;
}
.selection__box .selection__box__text{
margin-top:30px;
    }
.subscreen{
width:100%;
height:80vh;
    }
.top__image__lists ul{
width:60%;
margin:0 auto;
display:flex;
flex-wrap:wrap;
}

.contents__image__list ul li{
margin:0px;
width:50%;
}

.contents__image__list ul li .c__1{
width:125px;
height:125px;
margin-right:0px;
}
.contents__image__list ul li .c__2{
width:125px;
height:125px;
margin-right:0px;
}
.contents__image__list ul li .c__3{
width:125px;
height:125px;
margin-right:0px;
}
.contents__image__list ul li .c__4{
width:125px;
height:125px;
margin-right:0px;
}
.contents__image__list ul li h3{
 width:100px;
 height20px;
 font-size:8px;
 left:10px;
    }
.under__image__content{
 width:250px;
 height:100px;
 margin-top:10px;
 }
#footer .footer__bar{
border:none;
margin-bottom:20px;
height:35vh;
}
.footer__bar ul{
flex-direction:column;
border-top:2px solid #eee;
    }
#footer .footer__bar ul li{
 margin-bottom:10px;
 padding-bottom:13px;
 border-bottom:2px solid #eee;
 color:#aaa;
 }
#footer .footer__bar ul li:hover{
color:orange;
border-bottom:2px solid #eee;
     }
.footer__contents{
 width:100%;
 height:20vh;
 padding-top:100px;
    }
.footer__logo{
width:100%;
height:40vh;
margin-top:100px;
    }
}@media screen and (max-width:960px) {
#wrapper .center__screen{
border:none;
height:170vw;
    }
#logos{
display:none;
    }
nav{
display:none;
    }
.second__page{
height:50vh;
    }
.second__page__screen{
flex-direction:column;
background-color:#000;
height:100vw;
    }
.left__screen{
width:100%;
    }
.left__screen .screen__title{
margin:40px 40%  20px 30%;
    }
.left__screen .submit__btn{
margin: 10px 40% 10px 40%;
    }
.right__screen{
display:none;
    }
.screen__title {
width:30%;
font-size:20px;
text-align:center;
    }


.left__screen .style__english{
 margin-bottom:10px;
}
.left__screen p{
font-size:13px;
margin-left:0px;
    }
.left__screen .submit__btn{
text-align:center;
padding:10px;
font-size:10px;
width:70px;
height:30px;
    }
.selection .selection__content{
height:20vh;
width:100%;
    }

.selection .selection__content h2{
 font-size:20px;
 margin: 70px 0px 30px 0px;
    }

.selection__screen {
 width:100%;
 height:400px;
    }
.selection__screen .selection__box{
width:120px;
height:115px;
margin:0 auto;
    }


.selection__screen .selection__box__text h2{
  margin-top:0px;
 font-size: 30px;
}
.selection__box .selection__box__text{
margin-top:30px;
    }
.subscreen{
width:100%;
height:140vw;
    }
.top__image__lists ul{
width:60%;
margin:0 auto;
display:flex;
flex-wrap:wrap;
}

.contents__image__list ul li{
margin:0px;
width:50%;
}

.contents__image__list ul li .c__1{
width:30vw;
height:25vw;
margin-right:0px;
}
.contents__image__list ul li .c__2{
width:30vw;
height:25vw;
margin-right:0px;
}
.contents__image__list ul li .c__3{
width:30vw;
height:25vw;
margin-right:0px;
}
.contents__image__list ul li .c__4{
width:30vw;
height:25vw;
margin-right:0px;
}
.contents__image__list ul li h3{
 width:100px;
 height:30px;
 font-size:8px;
 left:2vw;
    }
.under__image__content{
 width:60vw;
 height:100px;
 margin-top:10px;
 }
#footer .footer__bar{
border:none;
margin-bottom:20px;
height:35vh;
}
.footer__bar ul{
flex-direction:column;
border-top:2px solid #eee;
    }
#footer .footer__bar ul li{
 margin-bottom:10px;
 padding-bottom:13px;
 border-bottom:2px solid #eee;
 color:#aaa;
 }
#footer .footer__bar ul li:hover{
color:orange;
border-bottom:2px solid #eee;
     }
.footer__contents{
 width:100%;
 height:20vh;
 padding-top:100px;
    }
.footer__logo{
width:100%;
height:40vh;
margin-top:100px;
    }
}
